.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.menus {
    background-color: blue;
    display: grid;
}

.menu {
    border-bottom: 1px solid white;
    padding: 10px;
}

.menuHeader {
    text-align: left;
    font-size: xx-small;
}

.infos {
    display: grid; 
    grid-template-columns: repeat(4, 200px);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: space-around;
}

.info {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}